body:before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('bg.mp4.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#main > .inner {
	opacity: 1.0 !important;
}

#main {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}